@import "normalize/normalize";
@import "variables";
@import "foundation/foundation";

.selected {
    border: red solid 3px;
}

body > .ember-view {
    min-height: 100%;
    height: 100%;
    max-width: 100%;
}
    