<div class="well">
  SPLASH!
<<<<<<< HEAD
=======
</div>
<div class="well">
    {{#if user.email}}
        <a {{action 'logout'}}>uitloggen</a>
    {{else}}
        <a {{action 'login'}}>inloggen</a>
    {{/if}}
>>>>>>> inloggen-in-application-router
</div>