<div style="background-image:url('/images/splash_sketch-v1.png'); background-size: cover; background-repeat: no-repeat; height: 100%; max-width: 100%;">
    <a class="button medium" {{action 'login'}}>inloggen</a>
</div>